header {
    position: relative;
    background-color: black;
    height: 250px;
    overflow: hidden;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    padding-top: 50px; /* Adjusted padding to fit the reduced height */
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    z-index: 1;
    position: relative;
}

nav li {
    margin-right: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

.logo {
    max-width: 230px;
    position: absolute;
    left: 20px;
    top: 10px;
}